.Engine{
  background-color: #151515;
  color: silver;
  text-align: center;
  margin-top: 15%;
}
.left h1{
  font-style: oblique;
    font-family: poppins;
  font-size: 33px;
 text-shadow: 0px 10px 10px black;
 
  color: white;
  padding: 10px;
  border-radius:10px ;
  background-color: black;
 
}
.left p{
  width: 90%;
  font-size: 1.5rem;

  font-family: sans-serif;
  margin: auto;
  line-height: 32px;
  padding-bottom: 3%;
  padding-top: 3%;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  background: transparent;
  margin-top: 10px;
  letter-spacing: 2px;
}


.right img{
  width: 100%;
 
}
@media (max-width:400px) {
  .Engine{
  background-color: black;
  color: silver;
  text-align: center;
  width: 100%;
  margin: auto;
  
 
}
.left h1{
  font-style: oblique;
    font-family: poppins;
  font-size: 1.2rem;
 text-shadow: 0px 10px 10px black;
  margin-bottom: 2px;
  background-color: silver;
  color: black;
  padding: 10px;
  border-radius:10px ;
}
.left p{
  font-size: 1rem;
  font-family: sans-serif;
  width: 90%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  color: black;
  margin-bottom: 10px;
}
.right img{
  width: 90%;
  height: 100%;
  border-radius: 20px;
}
}
@media (min-width:401px) and (max-width:600px) {
   .Engine{
  background-color: black;
  color: black;
  text-align: center;
  width: 100%;
  margin: auto;
  
 
}
.left h1{
  font-style: oblique;
    font-family: poppins;
  font-size: 23px;
 text-shadow: 0px 10px 10px black;
  margin-bottom: 7%;
  background-color: silver;
  color: black;
  padding: 10px;
  border-radius:10px ;
  margin-bottom: 10px;
}
.left p{
  font-size: 18px;
  font-family: sans-serif;
  width: 90%;
  text-align: center;
  margin: auto;
  padding-bottom: 7%;
}
.right img{
  width: 90%;
  height: 100%;
  border-radius: 60px;
}
}
@media (min-width:601px) and (max-width:768px) {
    .Engine{
  background-color: black;
  color: black;
  text-align: center;
  width: 100%;
  margin: auto;
  
 
}
.left h1{
  font-style: oblique;
    font-family: poppins;
  font-size: 28px;
 text-shadow: 0px 5px 15px black;
  margin-bottom: 7%;
  background-color: transparent;
  color: black;
  padding: 10px;
  border-radius:10px ;
  margin-bottom: 5px;
}
.left p{
  font-size: 19px;
  font-family: sans-serif;
  width: 90%;
  text-align: center;
  margin: auto;
  padding-bottom: 7%;
}
.right img{
  width: 90%;
height: 100%;
  border-radius: 60px;
}
}
@media (min-width:769px) and (max-width:992px) {
    .Engine{
  background-color: transparent;
  color: black;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  
 
}
.left h1{
  font-style: oblique;
    font-family: poppins;
  font-size: 2rem;
 text-shadow: 0px 5px 10px black;
  margin-bottom: 1%;
  background-color: silver;
  color: black;
  padding: 10px;
  border-radius:10px ;
  margin-top: 30px;
}
.left p{
  font-size: 19px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-bottom: 7%;
}
.right img{
  width: 90%;
height: 100%;
  border-radius: 60px;
}
}

 @media (min-width:993px) and (max-width:1200px) {
   .Engine{
  background-color: black;
  color: black;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  
 
}
.left h1{
    font-family: poppins;
  font-size: 2rem;
 text-shadow: 0px 5px 15px black;
  margin-bottom: 1px;
  background-color: transparent;
  color: black;
  padding: 10px;
  border-radius:10px ;
  padding-top: 0px;
}
.left p{
  font-size: 1.3rem;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-bottom: 7%;
  margin-top: 30px;
  
}
.right img{
  width: 90%;
 height: 100%;
  border-radius: 60px;
}
 }
